body {
    font-family: Arial, sans-serif;
}

.block_about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #f9f9f9;
}

.block {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}


.text-container {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInText 1s forwards 1s;
}

.text-item {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInText 1s forwards 1.2s;
}

@keyframes fadeInText {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


